#build
CMakeLists.txt
build
*.swp
*.o

#data
data/*
!.data
input/
output/
*.root
*.graw
*.gdml

#figures
figures/
*.pdf
*.png
*.eps
*.jpg
*.jpeg

#executables
*.g4sim
*.exe

#configurations and logs
macros/command_lilak.sh
log/*
*.log
!log/*.in

#updating
common/
doc/
LKClassFactory*
LKG4DetectorConstructionFactory*
LKNPDetectorConstructionFactory*

#test
test*/
temp*/
zzz/
trash/

#others
__pycache__
.AppleDouble
.DS_Store
