#geometry file
*.gdml

#build
CMakeLists.txt
build
*.swp
*.o

#simulation/analysis data
data
input
output
*.root
*.graw
test*/

#geant4 executable
*.g4sim

#log files created from build/run
log/*
*.log

#cmake configuration log files
!log/*.in

#common
common/

#temporary directories
temp*/

#figures
figures/
*.pdf
*.png
*.eps
*.jpg
*.jpeg

#trash
trash

#python
__pycache__

#mac
.AppleDouble
.DS_Store

#documetation directory(doxygen)
doc
